/* ProduksiyonClient CSS Modules */

.productionPage {
  background: #0a0a0a;
  min-height: 100vh;
  color: #fff;
  font-family: var(--font-montserrat), sans-serif;
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
}
